# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Pytest
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Temporary files
*.tmp
*.log

# Heavy Data Files Exclusions
*.nc
*.tar
*.tar.gz
*.grib*
data/argo/*.csv
data/hycom/*.nc
data/ww3/*.nc
data/raw/
data/training/*.csv
copernicus_obs_metadata.txt

